.root {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.main {
    -fx-background-color: #FFFFF6;
}

.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-insets: 10px 0px;
    -fx-pref-width: infinity;
}

/*.column-header,*/
/*.table-view .table-cell {*/
/*-fx-pref-width: 10em;*/
/*}*/

.toggle-button {
    -fx-pref-width: 50;
}

.start {
    -fx-text-fill: radial-gradient(center 50% 35%, radius 100%, #CD23C9, #0F1FFF);
    -fx-effect: dropshadow(gaussian, rgba(255, 170, 0, 1), 2, 0, 5, 0);
    -fx-font-size: 300px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-pref-width: -1;
    -fx-font-style: italic;
    -fx-text-alignment: CENTER;
    -fx-padding: 100px;
}

.form_label {
    -fx-font-size: 16px;
    -fx-pref-width: 200;
}

