.main {
    -fx-background-color: white;
}

.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-insets: 10px 0px;
    -fx-pref-width: infinity;
}

.label {
    -fx-text-fill: darkslategray;
}

.start {
    -fx-font-size: 300px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-pref-width: -1;
    -fx-text-alignment: CENTER;
    -fx-padding: 100px;
}

.form_label {
    -fx-font-size: 16px;
    -fx-pref-width: 200;
}

.column-header {
    -fx-background-color: #AAAAAA;
}
