.menu-bar {
    -fx-background-color: #CCEECC;
    -fx-font-size: 24px;
}

.menu:hover {
    -fx-background-color: #F0F0F0;
}

.menu:showing .label,
.menu:hover .label,
.menu:hover {
    -fx-text-fill: black;
}

.menu-item:focused,
.menu-item:focused .label {
    -fx-text-fill: black;
    -fx-background-color: #CCCCCC;
    -fx-highlight-fill: white;
}

.menu-button {
    -fx-background-color: white;
    -fx-font: normal bold 16px "sans";
}

.start {
    -fx-font: normal bold 300px "sans";
    -fx-alignment: CENTER;
    -fx-pref-width: -1;
    -fx-text-alignment: CENTER;
    -fx-padding: 100px;
}

.form_label {
    -fx-font: normal bold 16px "sans";
    -fx-pref-width: 200;
}

.title {
    -fx-font: normal bold 36px "sans";
    -fx-border-style: solid none;
    -fx-padding: 10px 0px;
}